*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(./images/login-image.jpg);
  background-size: cover;
  background-position: center;
}

.textbox {
  padding: 10px;
  margin: 2% auto 0;
  text-align: center;
}

img {
  width: 180px;
  margin-top: 20px;
}

h2 {
  font-size: 25px;
  margin: auto;
  color: orange;
}

.container {
  width: 20%;
  height: 25%;
  background: black;
  padding: 35px 35px 35px;
  margin: 0% auto;
  text-align: center;
  border-radius: 12px;
  box-shadow: inset 100px black;
}

.text {
  border-radius: 20px;
  padding: 10px;
  margin: 10px 25px 10px 0px;
  width: 100%;
  border: 1px solid #3d3d3d;
  outline: none;
}
button {
  color: black;
  background-color: #fbbb47;
  border-radius: 25px;
  border-color: #fbbb47;
  width: 100px;
  height: 25px;
  font-size: 1rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: white;
  margin: 20px 0 0;
}
a {
  color: orange;
}
