:root {
  --primary-color: #fbbb47;
  --dark-color: #13203c;
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body {
  font-family: "Arial", Helvetica, sans-serif;
  background: black;
  color: white;
}

/*ul {
  list-style: none;
}*/

h1 h2 h3 h4 {
  color: white;
}

a {
  color: white;
  text-decoration: none;
}
p {
  margin: 0.5rem;
}

img {
  width: 100%;
}

.showcase {
  width: 100%;
  height: 87.5vh;
  position: relative;
  background: url("./images/movie-collage2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 10px 100px 130px orange;
}
.showcase-top {
  position: relative;
  height: 90px;
  z-index: 2;
}

.showcase-top img {
  width: 300px;
  position: absolute;
  top: 180%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showcase-top a {
  position: absolute;
  top: 70%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.showcase-top .btn-login {
  position: absolute;
  left: 82%;
}
.showcase-content {
  position: relative;
  margin: auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 9rem;
  z-index: 2;
}
.showcase-content h1 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 5.1rem;
}

.showcase-content #p1 {
  color: #d8bb47;
  font-weight: 300;
  font-size: 1.9rem;
  line-height: 1.25;
  margin: 0 0 2rem;
}

.showcase-content #p1 b {
  color: orange;
  font: weight 2500px;
}

.showcase-content #p2 {
  color: orange;
  font-weight: 200;
  font-size: 1.9rem;
  line-height: 1.25;
  margin: 0 0 2rem;
}

/*tabs*/
.tabs {
  background: var(--dark-color);
  padding-top: 1rem;
  border-bottom: 3px solid #fbbb47;
}

/*container
.container {
  max-width: 50%;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}*/
.tabs .container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.tabs p {
  font-size: 1rem;
  padding-top: 0rem;
  color: currentColor;
}

.tab-icon {
  font-size: 1.6rem;
  color: currentColor;
}

.tab-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.tab-item:hover {
  color: #fbbb47;
}
/*buttons*/
.btn {
  display: inline-block;
  background: var(--primary-color);
  color: white;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  border-radius: 30px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-rounded {
  border-radius: 25px;
}

.btn-xl {
  font-size: 1.5rem;
  padding: 0.5rem;
  text-transform: uppercase;
}

.btn-lg {
  font-size: 2rem;
  padding: 0.2rem;
  text-transform: uppercase;
}
